{% include "header.html" %}
<div class="row">
    <div class="cols">
        <h2>Letzte Fahrten</h2>
    </div>
</div>
<hr>
<div container >
    {% if no_rides %}
    <div class="alert alert-info" role="alert">
        Du hast noch keine Fahrten: Erstelle eine neue Strecke und füge eine Fahrt hinzu um sie hier anzeigen zu lassen.
    </div>
    {% else %}

    {% for ride in last_rides %}
    <div class="row p-5">


        <div class="col">

            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        {{draw_map(routes, ride[1], ride[2]) | safe}}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ routes[ride[1]]["rides"][ride[2]]["name"] }}</h5>
                            <p class="card-text">{{ "%.2f"|format(routes[ride[1]]["rides"][ride[2]]["distance"]) }} km - {{ "%.2f"|format(routes[ride[1]]["rides"][ride[2]]["avg_speed"]) }} km/h </p>
                            <p class="card-text"><small class="text-muted">{{ routes[ride[1]]["rides"][ride[2]]["start_time"]|format_datetime('Datum')}}</small></p>
                            <a href="{{url_for('view_ride', id_route=ride[1], id_ride=ride[1])}}" class="btn btn-primary">Fahrt anzeigen</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    {% endfor %}
        {% endif %}
</div>
