<!--
- Form for creating a route
    - Name
    - Type: training, travel, recreation, race
- Include the form for new_ride
- > send to view route
-->
<!DOCTYPE html>
<html lang="de">
 	<head>
    	<meta charset="utf-8">
    	<title>Neue Strecke erstellen</title>
    	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
    <h1>Neue Strecke erstellen</h1>
    <form action="new_route_add" method="POST" enctype = "multipart/form-data">
        <h2>Angaben zur Strecke</h2>
        <label for="route_name">Name der Strecke:</label>
        <input type="text" name="route_name" id="route_name" placeholder="Name eingeben">
        <label for="route_type">Art der Strecke:</label>
        <select id="route_type" name="route_type">
            <option value="training">Training</option>
            <option value="commuting">Commuting</option>
            <option value="race">Race</option>
        </select>

        <h3>Fahrt erfassen</h3>
            <label for="ride_date">Datum der Fahrt:</label>
            <input type="date" id="ride_date" name="ride_date">
            <label for="gpx_file">GPX-Datei hochladen:</label>
            <input type = "file" name="gpx_file" id="gpx_file"/>
        <button type="submit">Senden</button>
    </form>
	</body>
</html>
