<!--
- Form
    - Metadata: name 
    - Tag for other people 
    -Upload button for GPX-File
    - Send form to view_route
    - titel: neue Fahrt
-->
{% include "header.html" %}



<div class="row">
    <div class="col">
        <form action="{{url_for('new_ride_add', id_route=id_route)}}" method="POST" enctype = "multipart/form-data">
            <h3>Fahrt erfassen</h3>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Bezeichnung</span>
                <input type="text" name="ride_name" id="ride_name" class="form-control" placeholder="Kurze Bezeichnung für die Fahrt" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="gpx_file">GPX-Datei hochladen</label>
                <input type="file" name="gpx_file" id="gpx_file" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Senden</button>
        </form>
    </div>
</div>



{% include "footer.html" %}