<!--
- Form for creating a route
    - Name
    - Type: training, travel, recreation, race
- Include the form for new_ride
- > send to view route
Titel: neue Strecke erstellen
-->
{% include "header.html" %}

    <h1>Neue Strecke erstellen</h1>
    <form action="new_route_add" method="POST" enctype = "multipart/form-data">
        <h2>Angaben zur Strecke</h2>
        <label for="route_name">Name der Strecke:</label>
        <input type="text" name="route_name" id="route_name" placeholder="Name eingeben">
        <label for="route_type">Art der Strecke:</label>
        <select id="route_type" name="route_type">
            <option value="training">Training</option>
            <option value="commuting">Commuting</option>
            <option value="race">Race</option>
        </select>

        <h3>Fahrt erfassen</h3>
            <label for="ride_name">Bezeichnung für die Fahrt:</label>
            <input type="text" name="ride_name" id="ride_name" placeholder="Bezeichnung eingeben">
            <label for="gpx_file">GPX-Datei hochladen:</label>
            <input type = "file" name="gpx_file" id="gpx_file"/>
        <button type="submit">Senden</button>
    </form>

{% include "footer.html" %}