<!--
Contains tiles for all routes -> rendered image of route + title, distance (avg), time (avg.) 
Filter-option?
-->
<!--
Shows the data for one route
- Map of first ride
- Tiles with all the rides
- Maybe some insight data?
- ToDo: Create tiles
-->
{% include "header.html" %}

<div class="row row-cols-2 row-cols-md-2 g-4">
{% for id,route in routes.items() %}
  <div class="col">

    <div class="card">
      {{draw_map(routes, id, "0") | safe}}
      <div class="card-body">
        <h5 class="card-title">{{ route["name"]}}</h5>
        <p class="card-text">{{ "%.2f"|format(routes[id]["rides"]["0"]["distance"]) }} - Kilometer </p>
          <a href="{{url_for('view_route', id_route=id)}}" class="btn btn-primary">Fahrten anzeigen</a>
      </div>
    </div>

  </div>
 {% endfor %}
</div>
{% include "footer.html" %}
