<!--
Contains tiles for all routes -> rendered image of route + title, distance (avg), time (avg.) 
Filter-option?
-->
<!--
Shows the data for one route
- Map of first ride
- Tiles with all the rides
- Maybe some insight data?

titel - Gefahrene Strecken
-->
{% include "header.html" %}


	<h1>Gefahrene Strecken </h1>
	<ul>
	{% for id,route in routes.items() %}
		<li><a href="{{url_for('view_route', id_route=id)}}">{{ route["name"]}} </a>- {{ route["rides"]["0"]["distance"]}} - Kilometer</li>
	{% endfor %}
	</ul>

{% include "footer.html" %}
