<!--
shows the data of a single ride 
- Map 
- Metadata like date, distance, time, avg_speed, climbs
- Displays Graphs for 
    - Heart-Rate 
    - Speed 
    - Altitudes

-->

<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>Strecke ansehen</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

	<h1>Strecke: {{ routes[id_route]["name"] }} </h1>
	<h2>Fahrt: {{ routes[id_route]["rides"][id_ride]["name"] }} vom {{ routes[id_route]["rides"][id_ride]["date"] }}</h2>

    <h3>Fahrt</h3>
	{{ html_map|safe }}
	<h3>Geschwindigkeit</h3>
	{{ speed_graph|safe }}
	<h3>Höhenmeter</h3>
	{{ elevation_graph|safe  }}
	<h3>Herzfrequenz</h3>
	{{ heartrate_graph|safe  }}




<h2></h2>

</body>
</html>
</html>
