<!--
Shows the data for one route 
- Map of first ride  
- Tiles with all the rides 
- Maybe some insight data?
-->
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>Strecke ansehen</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

	<h1>Strecke: {{ routes[selected_route]["name"] }} </h1>
	<h2>type: {{ routes[selected_route]["type"] }}</h2>
	<a href="{{url_for('new_ride', selected_route=selected_route)}}">Fahrt hinzufügen</a>

	    <ul>
        {% for id,rides in routes[selected_route]["rides"].items() %}
			<li><a href="{{url_for('view_ride', selected_route=selected_route, selected_ride=id)}}">{{ rides["date"] }} - {{ rides["name"] }} </a></li>
        {% endfor %}
    </ul>
	<a href="{{url_for('new_ride', selected_route=selected_route)}}">Fahrt hinzufügen</a>
	<p></p>


<h2></h2>

</body>
</html>
</html>
