<!--
shows the data of a single ride 
- Map 
- Metadata like date, distance, time, avg_speed, climbs
- Displays Graphs for 
    - Heart-Rate 
    - Speed 
    - Altitudes

-->

<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>Strecke ansehen</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

	<h1>Strecke: {{ routes[selected_route]["name"] }} </h1>
	<h2>Fahrt: {{ routes[selected_route]["rides"][selected_ride]["name"] }} vom {{ routes[selected_route]["rides"][selected_ride]["date"] }}</h2>

    <h3>{{ selected_route}} - {{ selected_ride }} </h3>



<h2></h2>

</body>
</html>
</html>
